<body>
<!-- Navbar only shown if user is logged in-->
<nav [hidden]="!isNavShown()" class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="col-4">
      <a class="navbar-brand rounded bg-success p-2 text-gray-500 bg-opacity-75" href="#">
        <img src="assets/img/earth-logo-removebg-preview.png" alt="" width="28" height="28" class="d-inline-block align-text-top me-1">
        CERISoNet
      </a>
    </div>
    <div class="col-6 d-flex justify-content-end align-items-center">
      <div class="col-1 col-md-2 me-1 d-flex justify-content-end">
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
      <div class="col-6 col-md-3 d-flex justify-content-end">
        <button (click)="logout()" class="btn btn-primary">Se Déconnecter</button>
      </div>
    </div>
  </div>

</nav>
<!--Angular-Notifier module injection in html-->
<notifier-container></notifier-container>
<router-outlet></router-outlet>
</body>
